# Ignore All resources
# You can throw in your own resources by creating their specified folder
# Most of these are Ogre SDK stuff exept sound and music folders

# .mesh files
models*/

# .zip files
packs*/

# Textures and Shader Scripts (Ogre SDK)
materials*/

# Terrain stuff
terrain*/

# .wav files
sound*/

# .mp3, .ogg, .wav files
music*/